main{
    background-color: rgb(255, 255, 125);
            p{
                padding: 1em ;
                font-family: arial;
                font-size: 120%;
                text-align: justify;       
            img{
            height: 10em;
            }

}
}